doctype html
html(lang="pl")
	head
		script(src="../../bower_components/angular/angular.min.js")
		script(src="../../app/scripts/js/controller.js")
	body(ng-app="myApp")
		p(ng-controller="helloworldController") {{hello}}